$green: rgba(95, 244, 66, .1);
$green-border: rgb(95, 244, 66);

$yellow: rgba(229, 244, 65, .1);
$yellow-border: rgb(229, 244, 65);

$red: rgba(255, 33, 33, .1);
$red-border: rgb(255, 33, 33);

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #f2f2f2;
    color: #555555;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

input, button, select {
    font-size: 1.3rem;
}

h1 {
    font-weight: 300;
    font-size: 2.4rem;
}

@import './components/title-bar';
@import './components/wrapper';
@import './components/item';
@import './components/button';
@import './components/player';
@import './components/form';