/* CSS declarations go here */
* {
    margin: 0;
    padding: 0;
}

.chatWindow {
    width: 800px;
    height: 720px;
    background-color: lightblue;
    margin: 0 auto;
    padding: 10px;
}

.chatField {
    width: 600px;
    height: 630px;
    background-color: white;
    display: inline-block;
}

.usersField {
    width: 160px;
    height: 700px;
    margin-left: 0;
    background-color: white;
    /* display: inline-block; */
    float: right;
}

.messageField {
    width: 590px;
    height: 50px;
    border: none;
    padding: 5px;
}
.hidden {
    visibility: hidden;
}

.my-text {
    text-align: right;
}